@CHARSET "UTF-8";

body {
	font-size: 16px;
	font-family: "楷体";
}

frame {
	border: 1px solid #D6A858;
}

table {
	margin: 20px 0 20px 0;
}

td {
	padding: 5px;
}

input {
	font-family: "楷体";
}

select {
	font-family: "楷体";
}

.keyword {
	color: red;
	font-weight: bold
}

.msg {
	margin-top: 50px;
	text-align: center;
	font-size: 20px;
	font-family: "楷体";
	color: red;
}
